.more_menu {
    background-color: #181a1b;
    width: 25em;
    height: 40em;

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: white;
}

.more_menu h1 {
    color: white;
    text-align: center;
    
}

.more_menu .settings{
    height: 20%;
    margin: 1em;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
}
