@font-face {
    font-family: 'w95fa';
    src: url(fonts/PixelOperator.ttf) format("truetype");
}

* {
    font-family: 'w95fa';
}

/* the main body of the function */
body {
    background-image: url("images/darktile.png");
    display: flex;
    flex-direction: column;
}

/* flex container that will help us align the elements on page. */
.flex_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.flex_sidebyside {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* the 3 buttons with class="controlbutton" */
.control_button {
    width: 10em;
    margin: 1em;
    background-color: #8b2635;
    border: 20;
    border-color: #2c3d55;
    font-size: 1em;
    line-height: 2em;
    font-family: 'w95fa';
}

/* those 3 buttons when the user hovers over them */
/* same thing but with a lighter background */
.control_button:hover {
    width: 10em;
    margin: 1em;
    background-color: #cc4055;
    border: 20;
    border-color: #2c3d55;
    font-size: 1em;
    line-height: 2em;
}

.fauxwindow {
    color: gainsboro;
    background-color: #1d2f3d;
    border-style: solid;
    border-color: #fdf0d5;
    border-width: 1px;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.titlebar {
    background-color: #2c3d55;
    height: 32px;
    position: relative;
}

.titlebar h1 {
    font-size: 24px;

    position: absolute;
    left: 10px;
    bottom: -12px;
}

.titlebar button {
    width: 24px;
    height: 24px;

    color: white;
    background-color: #8b2635;
    justify-content: center;

    border-color: #db364f;


    position: absolute;
    right: 4px;
    top: 4px;
}

.titlebar button:hover {
    background-color: #c02f45;
}

.menubar {
    background-color: #3e4c5e;
    height: 26px;
    position: relative;

    display: flex;
}

.menubar button {
    color: #fdf0d5;
    background-color: #374557;

    height: 22px;
    font-size: 16px;

    margin-top: 2px;
    margin-left: 2px;

    border-width: 1px;
    border-color: #fdf0d5;
}

.menubar button:hover {
    background-color: #516279;
}





.windowbody {
    background-color: #fdf0d5;

    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;

}



#counter:before {
    content: "\00a0 ";
}

#settings_menu {
    width: 25em;
    /* height: 20em; */

    position: absolute;

    top: 25%;
    left: 75%;
    transform: translate(-50%, 0);

}

#about_menu {
    width: 15em;

    position: absolute;

    top: 20%;
    left: 25%;
    transform: translate(-50%, 0);

}

#about_menu p{
    margin: 1em;

}

.hidden {
    display: none;
}

input {
    margin: .5em;
    width: 2em;
    font-size: 2em;
    background-color: #00ff00;
}


#settings_menu p {
    margin: .5em;
    font-size: 2em;
}


/* Volume slider style from w3 schools, edited by ben b. */
.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    /* Override default CSS styles */
    appearance: none;
    width: 80%;
    /* Full-width */
    height: 25px;
    /* Specified height */
    background: #d3d3d3;
    /* Grey background */
    border-radius: 3px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #cc4055;
    border-color: #8b2635;
    cursor: pointer;
    /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #cc4055;
    border-color: #8b2635;
    cursor: pointer;
    /* Cursor on hover */
}


#timer_menu {
    width: 35em;
}

.timertext {
    font-family: Georgia, serif;
    font-size: 8em;
}
