@font-face {
    font-family: 'w95fa';
    src: url(fonts/PixelOperator.ttf) format("truetype");
}

* {
    font-family: 'w95fa';
}

/* the main body of the function */
body {
    background-image: url("images/darktile.png");
    display: flex;
    flex-direction: column;
}

/* flex container that will help us align the elements on page. */
.flex_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.flex_sidebyside {
    display: flex;
    justify-content: center;
    flex-direction: row;

}

/* the 3 buttons with class="controlbutton" */
.control_button {
    color: #fdf0d5;
    width: 8em;
    margin: 1em;
    background-color: #8b2635;
    border-width: 4px;
    border-color: #2c3d55;
    font-size: 1em;
    line-height: 2em;


}

/* those 3 buttons when the user hovers over them */
/* same thing but with a lighter background */
.control_button:hover {

    background-color: #cc4055;


}

.fauxwindow {
    color: gainsboro;
    background-color: #1d2f3d;
    border-style: solid;
    border-color: #fdf0d5;
    border-width: 1px;

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.titlebar {
    background-color: #2c3d55;
    height: 32px;
    position: relative;
}

.titlebar h1 {
    font-size: 24px;

    position: absolute;
    left: 10px;
    bottom: -12px;
}

.titlebar button {
    width: 24px;
    height: 24px;

    color: white;
    background-color: #8b2635;
    justify-content: center;

    border-color: #db364f;


    position: absolute;
    right: 4px;
    top: 4px;

    background-image: url("images/X_icon.png");
    background-position: center;
    background-size: cover;
}

.titlebar button:hover {
    background-color: #c02f45;
}

.menubar {
    background-color: #3e4c5e;
    height: 26px;
    position: relative;

    display: flex;
}

.menubar button {
    color: #fdf0d5;
    background-color: #374557;

    height: 22px;
    font-size: 16px;

    margin-top: 2px;
    margin-left: 2px;

    border-width: 1px;
    border-color: #fdf0d5;
}

.menubar button:hover {
    background-color: #516279;
}





.windowbody {
    background-color: #fdf0d5;

    color: black;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;

}



#counter:before {
    content: "\00a0 ";
}


#about_menu {
    visibility: hidden;
    width: 15em;

    position: absolute;

    top: 20%;
    left: 25%;
    transform: translate(-50%, 0);

}

#about_menu p {
    margin: 1em;

}

.hidden {
    display: none;
}









#timer_menu {
    width: 35em;
}

.timertext {
    font-family: serif;
    font-size: 7em;
}

.mode_tab {
    background-color: #8b2635;
    border-color: #c02f45;
    margin: 4px;
    height: 28px;
    font-size: 24px;
    color: white;
    padding: 3px;
}

.mode_tab p {
    color: #fdf0d5;
    margin-top: -4px;

}

.mode_tab.active_tab {
    background-color: #5c0d19;
}

.setting {
    width: 95%;
    height: 38px;
    margin: auto;
    margin-top: 10px;
    border-style: double;
}

.setting p {

    font-size: 28px;
    margin: 0;
    margin-top: 4px;
}

#settings_menu {
    visibility: hidden;
    width: 20em;
    /* height: 20em; */

    position: absolute;

    top: 25%;
    left: 75%;
    transform: translate(-50%, 0);

}

input {
    margin: .25em;
    width: 2em;
    font-size: 1.5em;
    background-color: #f1e0bc;
}

.flex_sidebyside_setting p {
    width: 10em;
}

#audio_settings_menu {
    visibility: hidden;
    width: 12em;
    top: 50%;
    left: 30%
}

input[type="range"] {

    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 90%;
    height: 15px;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
}

/* Track: webkit browsers */
input[type="range"]::-webkit-slider-runnable-track {
    height: 15px;
    background: #374557;
}

/* Track: Mozilla Firefox */
input[type="range"]::-moz-range-track {
    height: 15px;
    background: #374557;

}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 15px;
    width: 15px;
    background-color: #5c0d19;
    border: 2px solid #8b2635;
    border-radius: 0%;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #1d2f3d;
}


/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
    height: 11px;
    width: 15px;
    background-color: #5c0d19;
    border-radius: 0%;
    border: 2px solid #8b2635;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #1d2f3d;
}

#mySelect {
    background-color: #1d2f3d;
    color: white;

    font-size: 18px;
    width: 8em;
}

.custom-select select {
    display: none;
    /*hide original SELECT element: */
}


