@font-face {
    font-family: 'w95fa';
    src: url(fonts/PixelOperator.ttf) format("truetype");
}

* {
    font-family: 'w95fa';
}

/* the main body of the function */
body {
    background-color: #40553a;
    color: black;
    display: flex;
    flex-direction: column;
} 

/* flex container that will help us align the elements on page. */
.flex_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    
}

.flex_sidebyside {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}

/* the 3 buttons with class="controlbutton" */
.control_button {
    width: 10em;
    margin: 1em;
    background-color: #8b2635;
    border: 20;
    border-color: #2c3d55;
    font-size: 1em;
    line-height: 2em;
    font-family: 'w95fa';
}

/* those 3 buttons when the user hovers over them */
/* same thing but with a lighter background */
.control_button:hover {
    width: 10em;
    margin: 1em;
    background-color: #cc4055;
    border: 20;
    border-color: #2c3d55;
    font-size: 1em;
    line-height: 2em;
}

#work {
    font-size: 5em;
    
}


.fauxwindow {
    color: gainsboro;
    background-color: #1d2f3d;
    /* margin-top: 6vh; */
    position: absolute;
    top: 12em;
    left: 50%;
    transform: translate(-50%, 0);
}

.titlebar {
    background-color: #2c3d55;
    height: 3em;
    position:relative;
}

.menubar {
    background-color: #3e4c5e;
    height: 1.5em;
    position: relative;

    display: flex;
}

.menubutton {
    background-color: #3e4c5e;
    /* margin-right: 2px; */
    padding-left: 2px;
    padding-right: 2px;
    border-style: solid;
    border-color: black;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-width: 1px;
    
}

.menubutton:hover {
    background-color: #516279;
}

.titletext {
    position: absolute;
    left: 10px;
    bottom: -12px;
    
}

.closebutton {
    width: 2.5em;
    height: 2.5em;
    background-color: #8b2635;
    align-items: center;
    justify-content: center;
    display: flex;

    position: absolute;
    right: .25em;
    bottom: .25em;
}

.closebutton:hover {
    width: 2.5em;
    height: 2.5em;
    background-color: #3b030b;

    position: absolute;
    right: .25em;
    bottom: .25em;
}

.closebutton {
    width: 2.5em;
    height: 2.5em;
    background-color: #8b2635;
    align-items: center;
    justify-content: center;
    display: flex;

    position: absolute;
    right: .25em;
    bottom: .25em;
}

.closebutton:hover {
    width: 2.5em;
    height: 2.5em;
    background-color: #3b030b;

    position: absolute;
    right: .25em;
    bottom: .25em;
}

#counter:before {
    content: "\00a0 ";
}

#settings_menu {
    /* width:15em; */
    height: 20em;

    position: absolute;

    top: 14em;
    left: 75%;
    transform: translate(-50%, 0);

}

#about_menu {
    width:15em;
    height: 20em;

    position: absolute;

    top: 14em;
    left: 75%;
    transform: translate(-50%, 0);

}

.hidden {
    display: none;
}

input {
    margin: .5em;
    width: 2em;
    font-size: 2em;
    background-color: #00ff00;
}

/* Change the color of the increment button */
input[type="number"]::-webkit-inner-spin-button {
    background-color: #ff0000; /* Red color */
    color: #1cb15f; /* Green color */
}

/* Change the color of the decrement button */
input[type="number"]::-webkit-outer-spin-button {
    background-color: #00ff00; /* Green color */
    color: #3b1675; /* Purple color */
}

#settings_menu p {
    margin: .5em;
    font-size: 2em;
}
